<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vistbras"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.CadastrarDenunciaActivity"
            android:exported="false" />
        <activity
            android:name=".views.DenunciaActivity"
            android:exported="false" />
        <activity
            android:name=".views.VistoriaRealizadaActivity"
            android:exported="false" />
        <activity
            android:name=".views.VistoriaAgendadaAcitivty"
            android:exported="false" />
        <activity
            android:name=".views.VistoriasRealizadasActivity"
            android:exported="false" />
        <activity
            android:name=".views.VistoriasAgendadasActivity"
            android:exported="false" />
        <activity
            android:name=".views.VistoriasActivity"
            android:exported="false" />
        <activity
            android:name=".views.AgendarVistoriaAcitivity"
            android:exported="false" />
        <activity
            android:name=".views.RealizarVistoriaActivity"
            android:exported="false" />
        <activity
            android:name=".views.SelectVistoriaAgendadaActivity"
            android:exported="false" />
        <activity
            android:name=".views.EmpresaDetalheActivity"
            android:exported="false" />
        <activity
            android:name=".views.CadastroEmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".views.EmpresasAcitvity"
            android:exported="false" />
        <activity
            android:name=".views.ExtintorDetalheActivity"
            android:exported="false" />
        <activity
            android:name=".views.CadastroExtintorActivity"
            android:exported="false" />
        <activity
            android:name=".views.ExtintoresActivity"
            android:exported="false"
            android:label="@string/title_activity_extintores"
            android:theme="@style/Theme.Vistbras" />
        <activity
            android:name=".views.HomeFiscalActivity"
            android:exported="false" />
        <activity
            android:name=".views.HomeUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".views.CadastroFiscalActivity"
            android:exported="false" />
        <activity
            android:name=".views.CadastroUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>